@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
:root {
    --one: #EDE8E2;
    --two: #E1D9CD;
    --three: #CCA43B;
    --four: #E5E5E5;
    --five: #FFFFFF;
    --step1:#736F4E;
    --step2:#B4C292;
    --paragraph:#636e72;
    --lightpink:#F4EADE;
    --graypink:#DCD5CE;
    --buttoncolor:#FF7C55;
    --graylight:#E7E7E7;
    --graydark:#DDDCDC;
    --lightwhite:#FBFBFB;
    --mediumpink:#F4EADE;
    --howitworksnavbar:#F7F6F5;
    --howitworksplane:#EDE8E2;
    --howitworksdesign:#E1D9CD;
    --howitworksbuild:#F1EADE;
    --howitworksmanage:#DBD0C4;
    --servichead:#F0F0F0;
    --servicebody:#F7F6F5;
    --commonquestion:#CEDCD5;
    --bootstrablack:#343A40;
    --buttonhovercolro:#ff5722;
  }
  @font-face {
  font-family: folio;
  src: url(assets/css/folio/FOLION.ttf);
}
 @font-face {
  font-family: optima;
  src: url(assets/css/optima/OPTIMA.ttf);
}

h1,h2,h3,h4,h5,h6{
    font-family: 'roboto';
}
p,span{
    font-family: optima;
}
body{
    overflow-x: hidden;
}

/* -------------------------------------Navbar -------------------------------------- */
.ftco-sectionheader{
  border-bottom: 1px solid #343A40;
    border-top: 1px solid #343A40;
}


.navbar-nav{
  width: 100%;
}
.navmenubutton button{
  width: 100%;
  background-color: var(--buttoncolor);
  border: 0;
  width: 100%;
  height: 100%;
  padding: 15px 120px 15px 120px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  color: white;
  border-left: 1px solid var(--bootstrablack) ;
  
  }
  .navmenubutton button:hover{
    background-color: var(--buttonhovercolro);
  }
 @media screen and (max-width:1300px){
  .navmenubutton button{
    
    padding: 15px 80px 15px 80px;
 
    }
 }


 @media screen and (max-width:1200px){
  .navmenubutton button{
    
    padding: 15px 50px 15px 50px;
 
    }
 }

 @media screen and (max-width:1150px){
  .navmenubutton button{
    
    padding: 15px 30px 15px 30px;
 
    }
 }

 @media screen and (max-width:1000px){
  .navmenubutton button{
    
    display: none;
 
    }
 }



 .navbar{
padding-right: 0;
 }

 .navbar .container-fluid{
 
  padding-right: 0;
 }
.navbar-nav li a{
  text-transform: uppercase;
  font-weight: normal;
}

.navbar{
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-brand{
  width: 130px;
  padding: 0;
}
.navbar-brand img{
  width: 90px;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
  font-weight: normal;
}
.navbar-dark .navbar-nav .active > .nav-link{
  font-weight: normal;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-dark .navbar-nav .nav-link{
  font-weight: normal;
  padding-top: 0;
  padding-bottom: 0;
}
.mynavbarperosonal{
  /* border-bottom: 1px solid #343A40; */
  /* position: absolute; */
}

 /* -------------------------------------Navbar End -------------------------------------- */





 /* ------------------------------------------Slider Start -------------------------------------- */

.ftco-animate{
  margin-top: 100px;
  z-index: 999999;
}
.ftco-animate button{
  background-color: var(--buttoncolor);
  padding: 10px 50px;
  color: white;
}
.ftco-animate button:hover{
background-color: var(--buttonhovercolro);
}



 /* ------------------------------------------Slider End -------------------------------------- */



/* -----------------------------------------------Company logos -------------------------------------- */


.logossection{
  background-color: var(--lightpink);
}
.logossection img{
  margin-bottom: 15px;
}
 .logop{
  font-family: 'Segoe UI'!important;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.6px;
 padding: 0 20px 0 20px;
}

/* --------------------------------Index cards Start -------------------  */
.indexcardshead h1{
  font-family: sans-serif;
  line-height: 1.1;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 40px;
    padding: 0;
}
.indexcards .indexcardshead p{
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 0;
  line-height: 1.16;
  letter-spacing: 0;
  color: black;
}
.indexcards .indexcardshead a{
  color: black;
  text-decoration: underline;
  font-size: 12px;
}
.indexcards .indexcardshead{
  padding: 100px 0;
}
.indexcards{
    background-color: var(--graypink);
}
.indexcards .card-body{
  min-height: 220px;
  max-height: auto;
  background-color: var(--graypink);
}
.indexcards p{
    color: var(--paragraph);
}
.indexcards img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}


/* --------------------------------Index cards End -------------------  */






/* ----------------------------------discoverworldfulldiv Start ------------------------------------ */
.discoverworldfulldiv{
  background-image: url(../images/index/discoverworldbackground.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  position: relative;

}
.discoverworldfulldiv .innerbox{
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 30px 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.discoverworldfulldiv .innerbox h1{
  font-size: 38px;
  margin-bottom: 25px;
  margin-top: 0;
  line-height: 1.16;
  letter-spacing: 0;
  text-align: center;
}
.discoverworldfulldiv .innerbox button{

  min-width: 250px;
  background-color: var(--buttoncolor);
  padding: 10px 15px;
  border: none;
  text-transform: uppercase;
 
}
.discoverworldfulldiv .innerbox button:hover{
  background-color: var(--buttonhovercolro);
  color: white;
}
/* ----------------------------------discoverworldfulldiv End------------------------------------ */

/* -------------------------------------------Renovation Start-------------------------------------------  */
.indexrenovation{
  background-color: var(--graylight);
}
.indexrenovation .card-body{
  background-color: var(--graydark);
  padding: 50px 40px;
}
.indexrenovation .card-body h5{
  font: 400 12px/16px Folio,Roboto,sans-serif;
  letter-spacing: 1px;
  margin-bottom: 12px;
  text-transform: uppercase;
  font-weight: bold;
}
.renovationcards h1{
    font-size: 24px;
    color: black;
    margin-bottom: 30px;
}
.renovationcards .card{
    height: auto;
}
.renovationcards .card a{
    background-color: var(--buttoncolor);
    color: black;
    font-size: 14px;
    padding: 15px 45px;

}
.renovationcards .card a:hover{
    background-color: var(--buttonhovercolro);
    color: white;
    cursor: pointer;
}
 /* Ambasder  */

 .brandabesder{
  background-color: var(--lightpink);
  padding-top: 40px;
  padding-bottom: 40px;
 }
 .brandssection{
  background-color: white;
 }

/* --------------------------------------Gallery Start------------------------------------------------ */

.gal-section h1{
  font-size: 62px;
  font-weight: 300;
  font-family: 'roboto' !important;
}
.gal-section hr{
 border: 0.1px solid #000 !important;
 opacity: 70%;
}
.gal-section h3{
font-family: 'optima';

}
.filter-section {
  border:1px solid black;
  max-width: 600px;
  background-color: #F7F6F5;
}

.filter-section span{
  border-bottom:1px solid black;
  font-family: 'roboto';
  padding: 5px 7px;
  text-transform: capitalize;
  font-size: 20px;
  cursor: pointer;
}
.img-section{
  margin-bottom: 2rem;
}
.img-section img{
  border-radius: 6px;
}
.img-section .title{
  font-size: 20px;
  padding:10px 0px;
  color: #000;
  font-family: 'roboto';
  text-transform: capitalize;
}

.list1,.list2{
  display: none;
  font-size: 20px;
  padding: 40px 0px;
}
.filter-section :horizontal{
 opacity: 100;
 border: none;
}

.filter-section i{
float: right;
margin-right: 1rem;
}
.gallerymainsection{
  background-color: var(--lightwhite);
}
.gallerymainsection img{
    height: 250px;
    object-fit: cover;
}
.gallerymainsectionhead{
  padding: 50px 0;
}
.gallerymainsectionhead h1{
  font-family: 'roboto';
  letter-spacing: 1px;
}
.gallerymainsectionhead p{

  font-size: 22px;
}

#gallery1{
   
    overflow-x: hidden;

}

#gallery1 img{
    margin: .2rem;
  }


  #gallery2{
   
    overflow-x: hidden;

}

#gallery2 img{
    margin: .2rem;
  }


  
/* --------------------------------------------------Gallery Section End ------------------------------------- */

  /* ----------------Testimonial Section-------------------- */


  /* Reseting */




@keyframes background-color {
    0% {
        background: linear-gradient(to bottom, #000428, #004683);
    }

    25% {
        background: linear-gradient(135deg, #1a4223, #5ee95e);
    }

    50% {
        background: linear-gradient(to bottom, #421a31, #e95ed2);
    }

    100% {
        background: linear-gradient(-135deg, #fae37d, #881da8, #20668f);
    }

}
.indextestimonial{
    background-color: var(--one);
}

.testimonialmain .card {
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    perspective: 500px;
    border: none;
    background-color: inherit;
}

.testimonialmain .card .face {
    position: absolute;
    color: #fff;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.06);
    transform-style: preserve-3d;
    transition: 0.5s;
    backface-visibility: hidden;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    /* border-right: 1px solid #999;
border-bottom: 1px solid #999; */
}

.testimonialmain .card .face.front-face,
.testimonialmain .card .face.back-face {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonialmain .card .face.front-face .profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonialmain .card .face.front-face .name {
    letter-spacing: 2px;
}

.testimonialmain .card .face.front-face .designation {
    font-size: 0.8rem;
    color: #ddd;
    letter-spacing: 0.8px;
}

.testimonialmain .card:hover .face.front-face {
    transform: rotateY(180deg);
}

.testimonialmain .card .face.back-face {
    position: absolute;
    background: rgba(255, 255, 255, 0.06);
    transform: rotateY(180deg);
    padding: 20px 30px;
    text-align: center;
    user-select: none;
}

.testimonialmain .card .face.back-face .fa-quote-left {
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 1.2rem;
}

.testimonialmain .card .face.back-face .fa-quote-right {
    position: absolute;
    bottom: 35px;
    right: 25px;
    font-size: 1.2rem;
}

.testimonialmain .card:hover .face.back-face {
    transform: rotateY(360deg);
}

@media(max-width: 991.5px) {
    .col-lg-4 {
        margin-top: 40px;
        margin-bottom: 20px;
    }
}





/* ------------------------------------------How It Works ------------------------------------- */


.howitworksstickynavbar li:hover{
    background-color: var(--four);
}


#howitworksplane hr, #howitworksdesign hr , #howitworksbuild hr,
 #howitworksmanage hr{
  color: black !important;
  border: 0.5px solid black !important;
}

#howitworksplane h2 ,#howitworksdesign h2, #howitworksbuild h2 ,#howitworksmanage h2{
  font-family:'roboto' !important;
  font-size: 36px;
  font-weight: 400;
}


.content-head{
  margin-top: 10rem !important;
}

#plan-heading p ,#howitworksdesign p, #howitworksbuild p,#howitworksmanage  p{
  font-family: roboto;
  color:#49494B;
  font-size: 16px;
}

#howitworksplane h3 ,#howitworksdesign h3, #howitworksbuild h3,
 #howitworksmanage h3{
  color: #49494b;
  font-family: 'optima';
}



.howitworksstickynavbar li:hover  a{
    
    /* color: black!important; */
    color: black;
    
}

.howitworksnavbar{
    background-color: var(--howitworksnavbar);
    
}

.howitworksnavbar a{
    /* color: white!important; */
    color: black;
}

.howitworksnavbar.howitworkssticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:99999;
    font-family: 'Segoe UI';
  }

    .steplistinggroup ul {
      list-style-type: none;
      text-decoration: none;
    }



h2{
  font-size: 24px;
  color: #49494b;
}

    .c1,.c2,.c3{
      font-family:'Segoe UI';
      font-size: 16px;
      color:#49494b;

    }


  .steplistinggroup li div{
    margin-left: 20px;
  }

  .howitworksstep1{
    background-color: var(--howitworksplane);
    /* color: white; */
    color: black;
  }
  .howitworksstep2{
    background-color: var(--howitworksdesign);
    /* color: white; */
    color: black;
  }


                                /* How it Works End */






  /* -------------------------------Kitchen Css -------------------------------------------- */

 .kithcenhead li::marker {
    content: url(../images/marker.svg);
   
    
    
  }

  .kithcenhead li{
    padding-left: 20px;
  }
  .kithcenhead .rightside{
    background-color: var(--servichead);
    /* color: white; */
  }
  .kitchengallery img{
    height: 400px;
    width: 100%;
    object-fit: cover;
  }
  .kithcenhead .rightside{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 110px;
  }
  .kithcenhead h1{
    font-size: 35px;
  }
 .kithcenhead p{
  font-size: 20px;
  line-height: 28px;
  padding-bottom: 32px;
 }
 .kithcenhead button{
  background-color: var(--buttoncolor);
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
 }
 .kithcenhead button:hover{
  background-color: var(--buttonhovercolro);
  color: white;
 }
 .commonquestiondiv{
  background-color: var(--commonquestion);
 }
 
  .renovationscary{
    background-color: #DCD5CE;
    
  }
  .renovationscary .icon-shape{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #E7E7E7;
    
  }
  .renovationscary .card{
    border: none;
  }
  .renovationscary .card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .renovationscary .card-body p{
    text-align: center;
  }
  .renovationscary .card-body h5{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
  }
  .renovationscary .icon-shape img{
    width: 100%;
  }
  .section2{
    background-color: #F7F6F5;
    /* color: white; */
  }
  .section2 p{
font-size: 22px;
  }

.everydaylife{
  background-color: var(--servicebody);
}
.everydaylife h2{
  font-size: 30px;
}
.kitchen.section1{
  background-color: #F7F6F5;
}
.kitchen.section1 p{
  font-size: 22px;
}
  /* ---------------------------------------WashRoom---------------------------------------- */


  .washroomhead  .herobackgorund{
    background:url(../images/washroom/washroomheader.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:500px;
    border-radius: 200px 0px 67px 0px;
    border: 1px solid var(--two);
  }
  .animatedtext{
    margin-top: 50px;
    cursor: none;
  }
  .typed-cursor{
    display: none;
  }



  /* ---------------------------------------Gallery ---------------------------------------- */


  .selectservice select{
    width: 200px!important;
  }
  .filterhead{
    background-color: var(--two);
    /* color: white; */
  }

  .fullgallerydiv{
    background-color: var(--two);
    
  }
  .gallerytopslickslider{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .gallerytopslickslider .imagesbox{
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
z-index: 9999;
display: none;
transition: 1s;
  }
  .mainitemimage{
    height: 100%;
  }
  .gallerytopslickslider .imagesbox .row{
    height: 100%;
  }
  .gallerytopslickslider .item:hover .imagesbox{
display: block;
cursor: pointer;
  }
  .gallerytopslickslider .imagesbox .col-6{
padding:0;
  }
  
  .gallerytopslickslider .imagesbox img{
    object-fit: cover;
  }
  .gallerytopslickslider .item{
    height: 300px;
  }
  .gallerytopslickslider .item img{
    height: 100%;
  }
  .maingalleryimagesdiv img:hover{
    border: 1px solid black;
  }



  /*----------------------------------------------- Design ---------------------------- */



.design-lab{
  border-right: 1px solid black;
}
.design-lab h1{
 font-family: 'roboto';
 text-align: center;
 margin-top: 0.6rem;
 text-transform: uppercase;
}

.design-lab p{
display: grid;
padding: 6px 0px;
place-items: center;
 font-family: 'roboto';
 text-align: left;
letter-spacing: 0.2px;
line-height: 18px;

}
#design-select{
  background-color: #f4f4f4;
  border: none;
  outline: none;
  max-width: 110px;
}

.tab-pane h5{
  font-family: 'roboto';
  font-size: 32px;

}
.tab-pane .badge{
  background-color: #E9E6DD;
  padding: 4px 15px;
  font-family: 'Segoe UI';
  color: #000;
  font-size: 14px;
  text-transform: capitalize;
  border-radius: 12px;
  font-weight: 400;

}

.cat-filter{
  text-align: center;
}


.cat-sec:hover{
background-color: #DCD5CE;
}

.cat-filter span{
background: transparent;
border: none;
font-family: 'roboto';
text-align: center;
}

.cat-sec{
  border-right: 1px solid #000;
  font-size: 24px;
  font-family: 'roboto';
}

  #nav-tabContent img{
width: 100%;
height: 300px;
object-fit: cover;
  }




  /* Login form  */

  .divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}











/* Experience Section */

.reno-bg{
  background-image: url('/public/assets/images/experience/bg.jpg');
  background-position: center center;
  background-size: cover;
  padding: 10rem;
  height: 400px;
  color: #fff;
  

}
.reno-bg .card{
border-radius: 12px;
opacity: 95%;
border: transparent;
background-color: #FF7C55;

  font-family: 'roboto' !important;
  
}
.reno-bg .card-title{
  font: 10px;
}
.reno-bg .card .card-link{
color: white;
}
.reno-bg .card .card-link a{
color: #fff;
text-decoration: underline;
}
.reno-bg .card .card-link{
color: white;

  font-family: 'roboto' !important;
}
.paragraph{
  color: #f4e1e1;
  font-size: 18px;
  font-family: 'roboto' !important;
 
}
.timeline .row{
  margin-top: 5rem;
}

.timeline .h4{
 color: #FF7C55;
}

.timeline p{
  font-size: 14px;
  color: grey;
  max-width: 400px;
  font-family: 'roboto';
}
.section .icon{
  margin-top: 2rem;
}

.timeline span i{

  width: 20px;
  height: 20px;
  padding: 5px;
  border-radius: 100%;
  background-color: #3d92dd;
  color: #fff;
  
}
.timeline .content-main{
  margin-top: 6rem !important;

}
.timeline .content-main span{
font-family: 'roboto';
font-size: 17px;
text-align: right;

}

.consult p{

  max-width: 500px;
text-align: center;
font-family: 'roboto';

}

.consult button{

background-color: #FF7C55;
color: #fff;
padding: 10px 40px;
border-radius: 20px;
border: none;

}


.avatar-icon-left{
  font-size: 60px;
  color: gray;
}.why-choose .head-1{

  /* color: #20668f; */
}
.avatar-icon-right{
  font-size: 60px;
  color: gray;

}
.completed h2{
  font-family: 'roboto';
  font-weight: 400;
}

.why-choose .head-2{
 
  /* color: green; */
}
.why-choose p{
  font-family: 'roboto';
text-align: center;
}

/* End Experience Section */










@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}





/* ---------------------------------------All Service ---------------------------- */


.servicesbox {
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  border-radius: 11px;
  padding: 0 20px;
  background: #343A40;
  color: white;
}
.servicesbox:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  cursor: pointer;
}
.allserviceshead h1{
  font-family: sans-serif;
}


/* Top small Bar  */

.topnavbarsmall{
  background-color: #6E786F;
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
}
.topnavbarsmall span{
  font-family: roboto;
    font-size: 13px;
    color: #ffffffd1;
}
.topnavbarsmall .right span{
  font-size: .8rem;
}
.topnavbarsmall .right img{
  width:20px;
  height: 20px;
}
.topnavbarsmall .right ul  a i {
  color: white!important;
}
.topnavbarsmall .left img,.footerrightsocial img{
  width:20px;
  height: 20px;
}

.topnavbarsmall .left ul{
margin-bottom: 0;
}
.topnavbarsmall .left ul i{
  margin-right: 4px;
}
.topnavbarsmall .left ul li{
  display: flex;
    align-items: center;
}


@media screen and (max-width:900px){
  .topnavbarsmall .right span{
    font-size: .5rem;
  }
  .topnavbarsmall .right img{
    width:20px;
    height: 20px;
  }

}


/* Transparent header  */


.owl-carousel.home-slider{
  margin-top: -90px;
  z-index: -1;
}


.sliderbutton{
  border: none;
  padding: 10px 30px;
  background-color: white;
}
.sliderbutton:hover{
  background-color: #343a40;
  color: white;
  cursor: pointer;
}







/* ------------------------------------Google Review Section-------------------------------------  */

.googlereviewsection img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.googlereviewsection .reviewbox{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px;
  padding: 10px 20px;
}
.googlereviewsection .reviewbox i{
  color: #F7A000;
  margin-left: 7px;
}
.coloredrow{
  border-bottom:4px solid #A362C3;
}
.coloredrow img{
  width: 160px;
  height: auto;
  border-radius: 0;
}
.brandssection{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 60px 40px;
  background-color: #00acee54;
}






/* Common Questions  */
.accordion-button ,.accordion-header,.accordion-item,.accordion{
  background-color: transparent;
  
}
.accordion-button:not(.collapsed),.accordion-button,.accordion-button:focus  {
  background-color: transparent;
  border: none;
  color: black;
  border-top: 1px dashed black;

}
.accordion-button:last-child{
  border-bottom: 1px dashed black;
}
.accordion-item {
  border: none!important;
}
.accordion-button:not(.collapsed)::after {

  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z" fill="black"/></svg>');
  color: white;
}

/* Common Question End  */




/*----------------------------- login page-----------------------------  */

.loginbackground {


height: 100%;
padding: 50px 0  50px 0;
}
.loginbackground .formright{
  padding: 0 150px 0 20px; 
}

.loginbuttondiv button{
background-color: var(--buttoncolor);
padding: 15px 45px;
}


/* -----------------------------------Remodeling------------------------------------------------------ */


.remodelingslidertop{

}

.remodelingslidertop .innerbox{
  padding: 130px 0;
  width: 50%;
  margin: auto;
  text-align: center;
}
.remodelingslidertop .innerbox h1{
  font-size: 45px;
  text-transform: uppercase;
  color: white;
}
.remodelingslidertop .innerbox p{
  font-size: 20px;
  line-height: 1.45;
  text-transform: uppercase;
  font-family: 'roboto';
  color: white;
}
.remodelingslidertop .innerbox button{
  border: none;
  background-color: var(--buttoncolor);
  color: black;
  padding: 10px 40px;
  margin-top: 15px;
}

.remodelingslidertop .innerbox button:hover{
  background: var(--buttonhovercolro);
  color: white;
}

.remodelingbox{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 22px;
  
}
.remodelingboximage{
  border-radius: 22px 22px 0 0;
}
.secondportionremodeling p{
font-size: 20px;
}

.remodelingbox .title{
  padding: 70px 0;
}
.remodelingbox h1{
  font-size: 20px;
  text-align: center;
  color: white;

}
.remodelingbox .content{
  padding:10px 0 10px 30px ;
}







/* ---------------------------------------------------------Why Choose Us--------------------------------------------- */



.whychooseushead{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/whychooseus/headbgimage.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

.whychooseushead .whychooseussection{
  background-color: var(--buttoncolor);
  padding: 50px 20px;
  border-radius: 20px;
  color: white;
}

.whychooseushead .whychooseussection h1{
  font-size: 30px;
}

.whychooseushead .whychooseussection p{
  font-size: 16px;
  font-family: 'roboto';
}
.whychooseus .content{
  padding-top: 40px;
}

.whychooseus .content h1{
  font-size: 20px;
  line-height: 1.4;
  font-weight:bold;
  color: black;
  
}
.whychooseus .content p{
  color: #333;
  font-size: 16px;
  line-height: 1.63;
  font-weight: 400;
  font-family: 'roboto';
}

.whychooseus .content a{
  color: rgba(0,121,187,.9);
  font-size: 16px;
    line-height: 26px;
    font-weight: 700;

}
.talksection {
  background-color: #F1F1F1;
  text-align: center;
  padding: 50px 0;
}
.talksection h1{
  font-size: 35px;
  line-height: 1.29;
  font-weight: 700;
}
.talksection p{
  font-size: 22px;
  line-height: 1.45;
  font-weight: 500;
}

.talksection button {
 background-color: var(--buttoncolor);
 padding: 10px 40px;
 border-radius: 30px;
 border: none;
}
.talksection button:hover{
  background-color: var(--buttonhovercolro);
  color: white;
}



/* --------------------------------------------People------------------------------------------------- */

.peoplehead{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/people/peopleheadbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.peoplebox{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.peoplebox:hover{
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  cursor: pointer;
}
.peoplebox .content{
  padding: 22px 20px;
  height: 200px;
  overflow-y: auto;
}

/* Scrollbar design  Start */
.peoplebox .content::-webkit-scrollbar {
  display: block;
  width: 5px;
  border-radius: 40px;
}
.peoplebox .content::-webkit-scrollbar-track {
  background: transparent;
}
  
.peoplebox .content::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.63);
  border-right: none;
  border-left: none;
}

.peoplebox .content::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 30px; 
}

.peoplebox .content::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 10px;
}
/* Scrollbar design End  */



.peoplebox h1{
  font-size: 20px;
  line-height: 1.4;
  font-weight: 700!important;
}

.peoplebox p{
  color: #333;
  font-size: 20px;
}

.peoplebox p.linktype{
  font-size: 14px;
  line-height: 1.7;
  color: #0079bb;
  letter-spacing: 1px;
}


/* --------------------------------Business Oppertunities--------------------------------- */

.businessheadertop .businessleft{
  padding: 30px 35px;
}
.businessheadertop .businessleft h1{
  font-size: 22px;
  font-weight: bold!important;
}
.businessheadertop .businessleft p{
  font-size: 14px;
  font-family: 'roboto';
}
.businessheadertop button{
  background-color: var(--buttoncolor);
  padding: 6px 15px;
  border-radius: 8px;
  border: none;

}

.businessection1right{
  padding-top: 50px;
  padding-left: 50px;
}
.businessection1right h1{
font-size: 30px;
}

.businessection1right p{
  font-size: 20px;
}



.businessection1right button{
  background-color: var(--buttoncolor);
  padding: 6px 15px;
  border-radius: 8px;
  border: none;
}
.businessection1right button:hover{
  background-color: var(--buttonhovercolro);
  cursor: pointer;
}
.renovationexperience{
  background-color: var(--buttoncolor);
  padding:50px 0;
}

.renovationexperienceleft h1{
font-size:30px;
font-weight:bold;
color: white;
}
.renovationexperienceleft p{
  font-family: 'roboto';
  color: white;
}
.renovationexperienceright i{
font-size: 35px;
color: white;
font-weight: bold;
-webkit-text-stroke: 2px;
}


.businessoppertunity.owl-carousel .owl-nav button.owl-next{
  position: absolute;
  right: -21px;
  top: 30%;
}
.businessoppertunity.owl-carousel .owl-nav button.owl-next span{
  font-size: 40px;
}

.businessoppertunity.owl-carousel .owl-nav button.owl-prev{
  position: absolute;
  left: -21px;
  top: 30%;
}
.businessoppertunity.owl-carousel .owl-nav button.owl-prev span{
  font-size: 40px;
}
.ceilingbackground{
  background-image: url(../images/businessoppertunities/ceiling.jpg);
  background-size: cover;
  height: 500px;
}
.ceilingcolumn h1{
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
.ceilingcolumn p{
  font-size: 16px;
  line-height: 22px;
}
.ceilingcolumn button{
  background-color: var(--buttoncolor);
  padding: 6px 15px;
  border-radius: 8px;
  border: none;
  width: 180px;

}

.questiontalk{
  background-color: #F1F1F1;
  padding: 20px 0;
}

.questiontalk h1{
font-size: 27px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.questiontalk p{
  font-family: 'roboto';
}


.questiontalk button{
  background-color: var(--buttoncolor);
  padding: 6px 15px;
  border-radius: 8px;
  border: none;
}
.questiontalk button:hover{
  background-color: var(--buttonhovercolro);
}




/*                         Enquiry               */
.enquiry-left p{
  font-family: 'roboto';
}
.enquiry-left h2{
 font-weight: 600;
}
.enquiry-right p{
  font-family: 'roboto';
  }.enquiry-right h6{
  font-family: 'roboto';
  margin-top: 1rem;
  }
.enquiry-right .info{
color:#95a5a6;

  }
  .enquiry-right label{
margin-top: 0.5rem;

  }









/*                         End Enquiry               */







/* ----------------------------------------------------Mobile Responsive ------------------------  */


@media screen and (max-width:900px){
  .ftco-sectionheader{
    background-color: #373E3F;
  }
  .navbar-nav{
    margin-top: 40px;
  }
  .navbar-nav li{
    margin-bottom: 20px;

  }
}